@use 'sass:map';
@import '../../variables.scss';
@import '../../mixins.scss';

section.me {
    margin-top: 1rem;
    padding: 20px;
    background-color: white;

    div.profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        div.profile-picture {
            width: 100%;

            img.profile {
                width: 100%;
                height: auto;
            }
        }

        div.profile-info {
            text-align: center;

            h2 {
                padding: 0px;
                margin: 3% 0px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    span {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        @include media-breakpoint-up(map.get($breakpoints,'md')) {
            flex-direction: row;
            div.profile-picture {
                width: 30%;
            }

            div.profile-info {
                text-align: start;
                justify-items: center;
                margin-bottom: auto;
                padding-left: 2rem;
            }
        }
    }

}