@import '../../variables.scss';
$active-color: #ff0000;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $container-padding;
    height: 60px;
    background-color: white;

    h1.home {
        max-width: 33%;
    }

    ul.root-ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 66%;

        li {
            margin-left: 20px;
            list-style: none;
            text-decoration: none;
            color: black;
            font-size: 1.2em;
            font-weight: bold;
            &:hover {
                background-color: $active-color;
            }
        }

        .active {
            color: $active-color;
            text-decoration: underline;

            &:hover {
                background-color: $active-color;
                color: black;
            }
        }
    }
}