@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './variables.scss';
@import './fonts/fonts.scss';

body {
    font-family: 'MensloLGS NF', Courier, monospace;
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 960px;
    }

    .img-responsive {
        width: 100%;
        height: auto;
    }
}